@media only screen and (max-width: 699px) {
	.ticketapp{

		&-header, &-footer{

		}
		&-header{
			margin-bottom: 10px;
		}
		&-main{

			&-ticketedit{
				position: absolute;
				height: 200vh;
				padding: 5vh 5vw;
			}
			&-record{
				
				& li{
					border-bottom: 1px solid $shadow-color;
					border-right: 1px solid $shadow-color;
				}
				&-number, &-subject, &-sn, &-clientname, &-phone, &-status{
					padding: 10px;
					flex-basis: auto;
					flex-grow: 1;
				}
			}
		}
	}
}