<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
	<link rel="icon" href="/favicon.ico" type="image/x-icon">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link href="css/style.css" rel="stylesheet">
	<title>test</title>
</head>
<body>
	<script id="ticketprint-template" type="text/template">
	<section class="ticketprint">
		<section class="ticketprint-ticket">
			<header class="ticketprint-ticket-header">
				<div class="ticketprint-ticket-header-logo">
					<svg viewBox="0 0 3500 3500">
						<g>
							<circle cx="1750" cy="1750" r="1610" stroke="#009846" stroke-width="245" fill="#ffffff" />
							<text x="985" y="2400" style="font-size:1978px;font-weight:bold;fill:#2e2e2e;font-family:Roboto Condensed;">
								IT
							</text>
							<text x="1080" y="2700" style="font-size:360px;font-weight:300;fill:#2e2e2e;font-family:Roboto Condensed;">
								сфера
							</text>
							<rect width="160" height="149" x="1559" y="2185" style="fill:#2e2e2e;stroke:#2e2e2e;stroke-width:127.27182007;stroke-miterlimit:4" />
							<rect width="160" height="149" x="2325" y="2185" style="fill:#2e2e2e;stroke:#2e2e2e;stroke-width:127.27182007;stroke-miterlimit:4" />
						</g>
					</svg>
				</div>
				<section class="ticketprint-ticket-header-about">
					<span>Сервисный центр "IT сфера"</span>
					<span>ФЛП Козлов М.Ю.</span>
					<span>067-724-81-70</span>
					<span>099-643-59-99</span>
					<span>063-917-74-26</span>
				</section>
				<section class="ticketprint-ticket-header-ticketinfo">
					<span>Акт выполненных работ</span>
					<span>№<%= number %></span>
					<span>от <%= doneDate %></span>
				</section>
			</header>
			<main class="ticketprint-ticket-main">
				<ul class="ticketprint-ticket-main-data">
					<li>Наименование:</li>
					<li class="ticketprint-ticket-main-data-subject"><%= subject %></li>
					<li>Серийный номер:</li>
					<li class="ticketprint-ticket-main-data-sn"><%= sn %></li>
					<li>Выполненные работы:</li>
					<li class="ticketprint-ticket-main-data-clientname"><%= operation %></li>
					<li>Стоимость:</li>
					<li class="ticketprint-ticket-main-data-cost"><%= cost %> грн</li>
				</ul>
			</main>
			<footer class="ticketprint-ticket-footer">
				<section class="ticketprint-ticket-footer-conditions">
					<span>Изделия снимаются с гарантийного обслуживания в следующих случаях:</span>
					<span>если дефекты Изделия вызваны нарушением правил его эксплуатации, хранения или транспортировки, изложенных в Руководстве пользователя;</span>
					<span>при наличии механических повреждений или снятия пломб или маркировки с любой части Изделия;</span>
					<span>технического обслуживания, проведенного покупателем или третьей стороной, а так же при использовании не оригинальных расходных материалов;</span>
					<span>ущерб изделия вследствие обстоятельств непреодолимой силы (пожар, стихия, молния и т.д.);</span>
					<span>ущерб, вызванный попаданием внутрь изделия посторонних предметов, жидкостей, насекомых, животных;</span>
					<span>при эксплуатации изделия в электрической сети с отсутствием контура заземления; 
					<span>при повреждениях, вызванных несоответствием государственным стандартам электропитания телекоммуникационных, кабельных сетей и др.;</span>
					<span>при воздействии высоких температур на любую часть изделия, либо при обнаружении на изделии следов перегрева электронных компонентов, либо следов подгорания элементов печатных плат из-за электрического перенапряжения.</span>
					<span>Гарантия не распространяется на:</span>
					<span>расходные материалы и узлы с ограниченными эксплуатационным ресурсом. (картриджи, печатающие головки, красящие ленты, тонеры, вентиляторы, соединительные кабели, аккумуляторы и т.д.);</span>
					<span>ПО, повреждения вызванные работой программ (форматирование на низком уровне, действия вирусов и т.д.), а также на конфигурацию и настройку параметров BIOS;</span>
					<span>микросхемы и прочие детали, отвечающие за работу периферийного и интегрированного оборудования (видео вход/выход, LPT, COM порты и т.д.);</span>
					<span>CD и DVD приводы при разрушение CD-Rom, CD-R, CD-RW, DVD-Rom, DVD-R, DVD-RW диска внутри привода.</span>
				</section>
				<section class="ticketprint-ticket-footer-signs">
					<span>Представитель СЦ ____________</span>
					<span>Заказчик ____________</span>
				</section>
			</footer>
		</section>
		<section class="ticketprint-ticket">
			<header class="ticketprint-ticket-header">
				<div class="ticketprint-ticket-header-logo">
					<svg viewBox="0 0 3500 3500">
						<g>
							<circle cx="1750" cy="1750" r="1610" stroke="#009846" stroke-width="245" fill="#ffffff" />
							<text x="985" y="2400" style="font-size:1978px;font-weight:bold;fill:#2e2e2e;font-family:Roboto Condensed;">
								IT
							</text>
							<text x="1080" y="2700" style="font-size:360px;font-weight:300;fill:#2e2e2e;font-family:Roboto Condensed;">
								сфера
							</text>
							<rect width="160" height="149" x="1559" y="2185" style="fill:#2e2e2e;stroke:#2e2e2e;stroke-width:127.27182007;stroke-miterlimit:4" />
							<rect width="160" height="149" x="2325" y="2185" style="fill:#2e2e2e;stroke:#2e2e2e;stroke-width:127.27182007;stroke-miterlimit:4" />
						</g>
					</svg>
				</div>
				<section class="ticketprint-ticket-header-about">
					<span>Сервисный центр "IT сфера"</span>
					<span>ФЛП Козлов М.Ю.</span>
					<span>067-724-81-70</span>
					<span>099-643-59-99</span>
					<span>063-917-74-26</span>
				</section>
				<section class="ticketprint-ticket-header-ticketinfo">
					<span>Акт выполненных работ</span>
					<span>№<%= number %></span>
					<span>от <%= doneDate %></span>
				</section>
			</header>
			<main class="ticketprint-ticket-main">
				<ul class="ticketprint-ticket-main-data">
					<li>Наименование:</li>
					<li class="ticketprint-ticket-main-data-subject"><%= subject %></li>
					<li>Серийный номер:</li>
					<li class="ticketprint-ticket-main-data-sn"><%= sn %></li>
					<li>Выполненные работы:</li>
					<li class="ticketprint-ticket-main-data-clientname"><%= operation %></li>
					<li>Стоимость:</li>
					<li class="ticketprint-ticket-main-data-cost"><%= cost %> грн</li>
				</ul>
			</main>
			<footer class="ticketprint-ticket-footer">
				<section class="ticketprint-ticket-footer-conditions">
					<span>Изделия снимаются с гарантийного обслуживания в следующих случаях:</span>
					<span>если дефекты Изделия вызваны нарушением правил его эксплуатации, хранения или транспортировки, изложенных в Руководстве пользователя;</span>
					<span>при наличии механических повреждений или снятия пломб или маркировки с любой части Изделия;</span>
					<span>технического обслуживания, проведенного покупателем или третьей стороной, а так же при использовании не оригинальных расходных материалов;</span>
					<span>ущерб изделия вследствие обстоятельств непреодолимой силы (пожар, стихия, молния и т.д.);</span>
					<span>ущерб, вызванный попаданием внутрь изделия посторонних предметов, жидкостей, насекомых, животных;</span>
					<span>при эксплуатации изделия в электрической сети с отсутствием контура заземления; 
					<span>при повреждениях, вызванных несоответствием государственным стандартам электропитания телекоммуникационных, кабельных сетей и др.;</span>
					<span>при воздействии высоких температур на любую часть изделия, либо при обнаружении на изделии следов перегрева электронных компонентов, либо следов подгорания элементов печатных плат из-за электрического перенапряжения.</span>
					<span>Гарантия не распространяется на:</span>
					<span>расходные материалы и узлы с ограниченными эксплуатационным ресурсом. (картриджи, печатающие головки, красящие ленты, тонеры, вентиляторы, соединительные кабели, аккумуляторы и т.д.);</span>
					<span>ПО, повреждения вызванные работой программ (форматирование на низком уровне, действия вирусов и т.д.), а также на конфигурацию и настройку параметров BIOS;</span>
					<span>микросхемы и прочие детали, отвечающие за работу периферийного и интегрированного оборудования (видео вход/выход, LPT, COM порты и т.д.);</span>
					<span>CD и DVD приводы при разрушение CD-Rom, CD-R, CD-RW, DVD-Rom, DVD-R, DVD-RW диска внутри привода.</span>
				</section>
				<section class="ticketprint-ticket-footer-signs">
					<span>Представитель СЦ ____________</span>
					<span>Заказчик ____________</span>
				</section>
			</footer>
		</section>
	</section>
	</script>
        <script src="js/print.js"></script>
        <script type="text/javascript">
        	(function(){
        		var templateFunction = _.template($("#ticketprint-template").html());
        		$(window).on("message", function(event){
        			var data = event.originalEvent.data;
        			if(data.subject && data.clientname){
        				$(document.documentElement).append(templateFunction(data));
        				window.print();
        			}
        		})
        	})();
        </script>
</body>
</html>
